@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
}

.container{
    position: absolute;
    width: 1200px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
    display: flex;
}

.container .leftSide{
    position: relative;
    flex: 30%;
    background: #fff;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.container .rightSide{
    position: relative;
    flex: 70%;
    background: #e5ddd5;
}

.container .rightSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/pattern.png');
    opacity: 0.06;
}

.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;


}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons{
    display: flex;
}

.nav_icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font: 1.5em;
    margin-left: 22px;
}

.search_chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
}

.search_chat div{
    width: 100%;
    padding: 6px;
}

.search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 10px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search_chat div input::placeholder{
    color: #bbb;
}

.search_chat div ion-icon{
    position: absolute;
    left: 20px;
    top: 17px;
    font-size:  1.2em;
}

.chatlist{
    position: relative;
    height:calc(100% - 110px); /* 60 + 50 = 110 */
    overflow-y: auto;
}

.chatlist .block{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
}

.chatlist .block.active {
    background: #ebebed;
}
.chatlist .block:hover{
    background: #ebebed;
}

.chatlist .block .imgbx{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px; 
}

.chatlist .block .details{
    position: relative;
    width: 100%;
}
.chatlist .block .details .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listHead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.chatlist .block .details .listHead .time{
    font-size: 0.75em;
    color: #aaa;
}

.chatlist .block.active .details .listHead .time{
    color: #111;
}

.chatlist .block.unread .details .listHead .time{
    color: #06d755;
}

.message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_p p{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.message_p b{
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.72em;
}

.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
}

.imgText span{
    font-size: 0.8em;
    color: #555;
}

.chatBox{
    position: relative;
    width: 100%;
    height: calc(100% - 120px); /* 60 +60 = 120px */
    padding: 50px;
    overflow-y: auto;
}

.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;
}

.message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparente 50%, transparent );
}

.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
}

.my_message{
    justify-content: flex-end;
}

.friend_message{
    justify-content: flex-start;
}

.friend_message p{
    background: #fff;
    text-align: left;
}

.message.friend_message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparente 50%, transparent );
}

.chatbox_input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox_input ion-icon{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.chatbox_input ion-icon:nth-child(1){

    margin-right: 15px;
}

.chatbox_input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 1em;
}